/* ==========================================================
                        FOOTER
========================================================== */

.footer{
    background:#222;
    color:#fff;
    text-align:center;
    padding:40px 20px;
    margin-top:80px;
}