/* ==========================================================
                    DJANGO MESSAGES
========================================================== */

.alert{

    position:fixed;

    top:90px;

    right:25px;

    min-width:340px;

    max-width:420px;

    padding:18px 22px;

    border-radius:12px;

    color:#fff;

    font-size:16px;

    font-weight:600;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    z-index:99999;

    animation:slideIn .4s ease;

}

/* ==========================================================
                    SUCCESS
========================================================== */

.alert.success{

    background:#22c55e;

    border-left:6px solid #15803d;

}

/* ==========================================================
                    ERROR
========================================================== */

.alert.error{

    background:#ef4444;

    border-left:6px solid #b91c1c;

}

/* ==========================================================
                    WARNING
========================================================== */

.alert.warning{

    background:#f59e0b;

    border-left:6px solid #b45309;

    color:#fff;

}

/* ==========================================================
                    INFO
========================================================== */

.alert.info{

    background:#3b82f6;

    border-left:6px solid #1d4ed8;

}

/* ==========================================================
                    ANIMATION
========================================================== */

@keyframes slideIn{

    from{

        opacity:0;

        transform:translateX(100px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

/* ==========================================================
                    MOBILE
========================================================== */

@media(max-width:600px){

    .alert{

        left:15px;

        right:15px;

        min-width:auto;

        width:auto;

    }

}